<component name="ArtifactManager">
  <artifact type="war" name="SpringDemoDB:war">
    <output-path>$PROJECT_DIR$/SpringDemoDB/target</output-path>
    <root id="archive" name="SpringDemoDB-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringDemoDB:war exploded" />
    </root>
  </artifact>
</component>